
h2 {
  font-size: 24px;
  color: #FFFFFF;
}

p {
  font-size: 16px;
  line-height: 23px;
}

@media (max-width: 700px) {

  .customers-page .text-zone {
      position: absolute;
      transform: translateY(-50%);
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
      left: 30% !important;
      top: 30% !important;
      width: 65% !important;
  }

  h1 {
      font-size: 36px !important;
      left: 10px;
  }

  .card-link {
      width: 260px;
      height: 250px;
  }

}